@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/

/*pseudo elementos para configurar el margen y el padding de los elementos anteriores y posteriores*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
}
/*cambia de color al texto mientras el cursor este encima de este*/
.show-desktop li a:hover {
  color: #f74442;
}
/* El estilo base para moviles */
/*establece las caracteristicas del body*/
body {
  background-color: #112935;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
}
/*establece un display flex para acomodar los elementos dentro del header*/
.header {
  display: flex;
  justify-content: space-between;
}

.src-only {
  display: none;
}
.hide-mobile {
  display: none;
}
/*establece las caracteristicas los elementos p*/
p {
  font-size: 0.75em;
  padding: 1rem;
  line-height: 25px;
}
/*establece el ancho y margen de los elementos dentro de la clase logo*/
.logo {
  width: 90px;
  margin: 1em;
}
/*establece un display flex para acomodar los elementos dentro de la clase options*/
.options {
  color: inherit;
  text-decoration: none;
  position: relative;
  top: 30%;
  right: 95%;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/*cambia el tamaño de la fuente al ultimo elemento de la clase options*/
.options i:last-child {
  font-size: 1.6rem;
}

/* Big area */
.big-hero img {
  width: 15rem;
}
/*establece las caracteristicas de los elementos h2 dentro de la clase big-hero big-hero*/
.big-hero h2 {
  font-size: 1.875em;
  font-weight: 700;
  letter-spacing: 0.002em;
  margin-top: 1em;
}
/*establece las caracteristicas de los elementos p dentro de la clase big-hero*/
.big-hero p {
  font-size: 0.7em;
  color: #d7dee6;
}

/* Social links*/
/*establece las caracteristicas de los iconos de github y twitter*/
.social-links {
  list-style: none;
  padding: 0;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*establece las caracteristicas de los elementos li y a dentro de la clase social-links*/
.social-links li a {
  color: #d7dee6;
  text-decoration: none;
  font-size: 4rem;
}
/* intento de otra via para configurar los iconos de github y twitter
.social-links i {
  position: relative;
  bottom: 1em;
}
footer .social-links i {
  position: relative;
  bottom: 0;
}
.social-links li a {
  color: #d7dee6;
  text-decoration: none;
  font-size: 20vh;
  margin: 2vh;
}
*/
/*establece el color de fondo de la clase green area*/
.green-area {
  background-color: #0ac693;
}
/*establece el padding y el margen inferior de la clase post */
.post {
  padding: 1em;
  margin-bottom: -2px;
}
/*establece las caracteristicas de los elementos h2 en la clase post*/
.post h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125em;
  margin: 1em;
}

.post ul {
  list-style: none;
}
/*establece el margen, la altura minima y maxima de los elementos ul y li de la clase post*/
.post ul li {
  min-height: 350px;
  max-height: 3500px;
  margin: 2rem auto;
}
/*establece las caracteristicas del elemento article dentro de la clase post*/
.post ul li article {
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  padding-bottom: 2em;
  width: 25rem;
  height: 20rem;
}
/*establece las caracteristicas de los elementos img dentro de la clase post*/
.post article img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
/*establece las caracteristicas de los elementos h3 dentro de la clase post*/
.post article h3 {
  color: #0d5061;
  margin-top: 2em;
  padding: 0em 1rem;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*establece las caracteristicas de los elementos p dentro de la clase post*/
.post article p {
  color: #112935;
  font-size: 1em;
  padding: 1rem;
  line-height: 25px;
}

/* About */
/*fija un margen superior para la clase about*/
.about {
  margin-top: 2em;
  /*margin-bottom: 2em;*/
}
/*establece las caracteristicas de los elementos h2 dentro de la clase about*/
.about h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125em;
  margin: 2em;
}
/*establece el ancho de los elementos img dentro de la clase bio-info*/
.bio-info img {
  width: 200px;
}
/*establece las caracteristicas de los elementos p dentro de la clase bio-info*/
.bio-info p {
  font-size: 16px;
  padding: 2em;
  text-align: left;
  line-height: 25px;
  letter-spacing: 2px;
}
/*establece un display flex para acomodar los elementos dentro de la clase contact*/
.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 1em;
  /*padding-left: 7em;*/
}
/*selecciona y fija un margen superior a todos los elementos dentro de la clase contact*/
.contact * + * {
  margin-top: 1.5em;
}
/*establece un display flex dentro de la clase contact-form*/
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
/*establece negrita a los elementos label dentro de la clase contact-form*/
.contact-form label {
  font-weight: bold;
}
/*establece las caracteristicas para los elementos input y textarea dentro de la clase contact-form*/
.contact-form input,
.contact-form textarea {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0px 2em;
  font-size: 1em;
  width: 100%;
  /*width: 85%;*/
}

/* Decorando placeholder */

/*establece el color del texto para los distintos navegadores*/
::-webkit-input-placeholder {
  color: #d7dee6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d7dee6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d7dee6;
}

:-ms-input-placeholder {
  color: #d7dee6;
}

/*establece las caracteristicas del elemento input de tipo submit dentro de la clase contact-form*/

.contact-form input[type="submit"] {
  background-color: #f74442;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  width: 45vh;
  margin-bottom: 1em;
  /*
  font-size: 1.25rem;
  width: 30%;
*/
}
/*establece una imagen de fondo dentro de la clase black-decoration*/
.black-decoration {
  background-image: url("../images/decoracion_oscura_small.svg");
}
/*establece las caracteristicas del footer*/
footer {
  background-color: #0d5061;
  color: #d7dee6;
}
/*establece el margen de los elementos dentro de la clase social-links dentro del footer*/
footer .social-links {
  margin: 0;
}
/* 
footer .social-links li {
  margin: -5em 0em -2.3em;
  padding: 0em 1em;
}
*/
/*establece las caracteristicas de los elementos dentro de la clase menu*/
.menu {
  background-color: #112935;
  position: absolute;
  z-index: 20;
  top: 60px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 60px);
}
/*establece el padding y alinea el texto a la izquierda dentro de la clase menu*/
.menu {
  list-style: none;
  text-align: left;
  padding: 1em;
}
/*establece que el padding y el margen de los elementos li dentro de la clase menu*/
.menu li {
  display: block;
  padding: 0.5em;
  margin-top: 5px;
}
/*establece el color del texto de los elementos li y a dentro de la clase menu*/
.menu li a {
  color: #ffffff;
  text-decoration: none;
}

/*personalizando estilo para Iphone 6,7 y 8 plus*/

@media only screen and (min-width: 414px) {
  /*establece el ancho y el margen dentro de la clase logo*/
  .logo {
    width: 120px;
    margin: 2.5em 3em;
  }
  /*establece los margenes superiores e inferiores dentro de la clase social-links*/
  .social-links {
    margin-top: 0.8em;
    margin-bottom: 3.5em;
  }
  /*establece el margen y el posicionamiento del contenido de los elementos li dentro de la clase social-links*/
  .social-links li {
    justify-content: center;
    margin: 0vh 1vh;
  }
  /*establece el ancho, el tamaño de la fuente de los elementos li e i dentro de la clase social-links*/
  .social-links li i {
    font-size: 1.4em;
    width: 1.2em;
  }
  /*establece el tamaño de la fuente de los elementos p dentro de la clase container*/
  .container p {
    font-size: 1em;
    padding: 0em;
  }
  /*establece un display flex dentro de la clase post que 
está dentro de la clase container*/
  .container .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*establece un display flex dentro de la clase
 container que está dentro de la clase about*/
  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*establece un margen para los elementos dentro de la clase hide-desktop*/
  .hide-desktop {
    margin: 0.5em 0.5em;
  }
  /*establece el ancho, el padding y el posicionamiento
 del texto de los elementos p dentro de la clase bio-info*/
  .bio-info p {
    width: auto;
    padding-left: 3em;
    padding-right: 3em;
    text-align: justify;
  }
  /*establece el ancho y el margen inferior de los elementos img dentro de la clase bio-info*/
  .bio-info img {
    width: 150px;
    margin-bottom: 3em;
  }
  /*establece negrita a los elementos label dentro de la clase contact-form*/
  .contact-form label {
    font-weight: bold;
  }
  /*establece el ancho de los elementos input y text area dentro de la clase contact-form*/
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  /*establece un display flex en los elementos ul dentro de la clase post*/
  .post ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /*establece las caracteristicas de los elementos ul y li dentro de la clase post*/
  .post ul li {
    min-height: 350px;
    max-height: 3500px;
    margin: 1rem 2rem;
    flex: auto;
  }
  .post ul li article {
    width: 20rem;
    height: 21rem;
  }
  /*establece el ancho y el alto de los elementos dentro de la clase logo*/
  .logo {
    width: 12em;
    margin: 6em;
  }
  /*
  .logo {
    width: 90px;
    margin: 3em;
  }
*/
  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
  /*cambia el color del texto de los elementos li y a dentro de la clase show-desktop*/
  .show-desktop li a:hover {
    color: #f74442;
  }
  /*establece las caracteristicas dentro de la clase menu*/
  .menu {
    background-color: #112935;
    position: static;
    z-index: 20;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 1em;
    margin: 6em;
  }
  /*establece el padding de los elementos dentro de la clase big-hero*/
  .big-hero p {
    font-size: 20px;
    padding: 0;
  }
  /*establece el color, el margen y el tamaño de la fuente de la clase big-hero (flecha)*/
  .big-hero i {
    margin-bottom: 1em;
    color: #0ac693;
    font-size: 3em;
  }
  /*establece el margen y la posicion de los elementos de la clase social-links*/
  .social-links {
    margin: 0;
    position: relative;
    bottom: 0.5em;
  }
  /*establece las caracteristicas de los elemntos i dentro de la clase social-links*/
  .social-links i {
    margin: 0;
    margin-top: 0.5em;
    width: 1.5em;
    color: #d7dee6;
    font-size: 1em;
  }
  /*establece un display flex en los elementos ul dentro de
 la clase post que está dentro de la clase container*/
  .container .post ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /*establece el padding iquierdo y el margen de los elementos
 li dentro de la clase post que está dentro de la clase container*/
  .container.post li {
    padding-left: 5em;
    margin: 0em;
  }
  /*establece un display grid dentro de la clase container
 que está dentro de la clase about*/
  .about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1em 1fr;
  }
  /*establece que el elemento h2 estará dentro de las dos columnas y en la primer fila del grid*/
  .about .container h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  /*establece que la clase bio-info estará dentro de la primer columna y la segunda fila del grid */
  .bio-info {
    grid-column: 1/2;
    grid-row: 2;
  }

  .contact-form input[type="submit"] {
    width: 45%;
  }
  /* 
  .green-area article h3 {
    font-size: 10pt;
  }

  .green-area article p {
    font-size: 8pt;
  }

  .green-area article {
    height: 310px;
    width: calc(2em + 55vh);
    margin: 0;
    padding: 0;
  }
  .show-desktop > i {
    color: #0ac693;
    font-size: 40pt;
    position: relative;
    bottom: 1.75em;
  }
  
*/
}

@media only screen and (min-width: 1024px) {
  /*establece el tamaño de la fuente, el padding y el
   margen superior de los elementos p dentro de la clase big-hero*/
  .big-hero p {
    font-size: 15px;
    padding: 0;
    margin-top: 1em;
  }
  /*establece el margen y la posicion dentro de la clase social-links*/
  .social-links {
    margin: 0;
    position: relative;
    top: 0;
  }
  /*establece un display flex dentro en los elementos ul
 dentro de la clase post que está dentro de la clase container*/
  .container .post ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container.post li {
    padding-left: 3.5em;
    margin: 0em;
  }
  /*establece el ancho y el alto dentro de los elementos article
 y li dentro de la clase post dentro de la clase container*/
  .container .post li article {
    width: 25rem;
    height: 325px;
  }
  /*establece el padding izquierdo y el margen de los elementos li
 dentro de la clase post dentro de la clase container*/
  .container .post li {
    padding-left: 5rem;
    margin: 0em;
  }
}
@media only screen and (min-width: 1440px) {
  /*establece el ancho, el margen y el ancho maximo dentro de la clase container*/
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .container.post li {
    padding-left: 4em;
    margin: 0em;
  }

  /*cambia de color al texto mientras el cursor este encima de este*/
  .show-desktop li a:hover {
    color: #f74442;
  }
  /*establece el tamaño de la fuente, el padding y el margen superior
 de los elementos p dentro de la clase big-hero*/
  .big-hero p {
    font-size: 30px;
    padding: 0;
    margin-top: 1em;
  }
  /*establece el margen y la posicion dentro de la clase social-links*/
  .social-links {
    margin: 0;
    position: relative;
    top: 0;
  }
  /*establece el margen inferior, el tamaño de la fuente
   y el color del texto de los elementos i dentro de la clase big-hero*/
  .big-hero i {
    margin-bottom: 2em;
    font-size: 4em;
    color: #0ac693;
  }
  /*establece las caracteristicas de los elementos i dentro de la clase social-links*/
  .social-links i {
    margin: 0;
    font-size: 2em;
    width: 1.3em;
    margin: 0 0 0.7em 0;
    color: #d7dee6;
  }
  /*establece el ancho y el alto de los elementos article y ul dentro
 de la clase post que está dentro de la clase container*/
  .container .post ul article {
    height: 350px;
    width: 325px;
  }
  /*establece un display flex en los elementos ul dentro de la clase
 post que está dentro de la clase container*/
  .container .post ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /*establece el ancho de la clase contact-form dentro de la clase contact*/
  .contact .contact-form {
    width: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .container.post li {
    padding-left: 3em;
    margin: 1em;
  }
  .post ul li article {
    width: 25rem;
    height: 21rem;
  }
  .bio-info img {
    width: 300px;
    margin-bottom: 3em;
  }
}
